<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- The first thing in any HTML file should be the charset -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- Allow installing the app to the homescreen -->
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Digital Prison Services</title>

    <meta content="#000000" name="theme-color">
    <link href="/styles/grid.css" rel="stylesheet" type='text/css'>
    <!--<![endif]--><!--[if gt IE 8 ]>
    <link rel='stylesheet' href='/styles/grid.css' type='text/css'>
    <![endif]--><!--[if lt IE 9]>
    <link rel='stylesheet' href='/styles/grid-old-ie.css' type='text/css'>
    <![endif]-->
    <link href="/styles/gov-uk.css" rel="stylesheet" type='text/css'>
    <link href="/styles/app.css" rel="stylesheet" type='text/css'>
</head>
<body>
<div id="app">
    <div class="content">
        <header class="page-header">
            <div class="header-content">
                <div class="left-content">
                    <a class="link" href="<%= homeLink %>" title="Home link">
                        <div class="logo"><img src="/images/Crest@2x.png" alt="" width="42" height="35"/></div>
                    </a>
                    <a class="unstyled-link" href="<%= homeLink %>" title="Home link">
                        <span class="logo-text">HMPPS</span>
                        <span class="title">Digital Prison Services</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="inner-content padding-bottom-90">
            <div class="pure-g">
                <div>
                    <h1 class="heading-large">Authorisation Error</h1>
                    <div class="pure-u-md-8-12">
                        <div class="row">
                            <div class="error-summary col-sm-6">There was a problem authorising you to use this
                                application.
                            </div>
                        </div>
                        <div class="row">
                            <div>Please go to <a href="<%= authURL %>">here</a> to try again.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="FooterContainer">
            <div class="footer-content">
                <div class="FooterLinksContainer">
                    <div class="FooterLink"><a href="/terms">Terms and conditions</a></div>
                    <div class="FooterLink"><a href="mailto:<%= mailTo %>">Contact us: <%= mailTo %></a></div>
                </div>
                <div class="FooterSignature"></div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
