<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- The first thing in any HTML file should be the charset -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- Allow installing the app to the homescreen -->
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Prison Staff Hub</title>

    <meta content="#000000" name="theme-color">
    <link href="/styles/grid.css" rel="stylesheet" type='text/css'>
    <!--<![endif]--><!--[if gt IE 8 ]>
    <link rel='stylesheet' href='/styles/grid.css' type='text/css'>
    <![endif]--><!--[if lt IE 9]>
    <link rel='stylesheet' href='/styles/grid-old-ie.css' type='text/css'>
    <![endif]-->
    <link href="/styles/gov-uk.css?updated=181218" rel="stylesheet">
    <link href="/styles/app.css" rel="stylesheet" type='text/css'>
</head>
<body>
<div id="app">
    <div class="content">
        <header class="page-header">
            <div class="header-content">
                <div class="left-content">
                    <a class="link" href="<%= homeLink %>" title="Home link">
                        <div class="logo"><img src="/images/Crest@2x.png" alt="" width="42" height="35"/></div>
                    </a>
                    <a class="unstyled-link" href="<%= homeLink %>" title="Home link">
                        <span class="logo-text">HMPPS</span>
                        <span class="title">Prison-NOMIS</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="inner-content padding-bottom-90">
            <div class="pure-g">
                <div>
                    <h1 class="heading-large">Sign in</h1>
                    <div class="pure-u-md-2-3">
                    <% if (!apiUp || authError) { %>
                            <div class="row">
                        <% if (apiUp) { %>
                                <div class="error-summary col-sm-6"><%=  authErrorText %></div>
                        <% } else { %>
                          <div class="error-summary col-sm-6">Service unavailable. Please try again later.</div>
                        <% } %>
                        </div>
                        <% } %>
                        <form method="POST" action="/login">
                            <div class="form-group">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" id="username" name="username" type="text" value=""
                                       autocomplete="off"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" id="password" name="password" type="password" value=""
                                       autocomplete="off">
                            </div>
                            <details class="govuk-details form-group">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Why won’t my Classic NOMIS password work on New NOMIS?
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p>New NOMIS is case sensitive which means you must enter your password exactly as you first created it. For example if your password is <strong class="bold">H3LloWorlD</strong> you must enter it exactly like that in New NOMIS.</p>
                                    <p>Classic NOMIS will let you enter your password using upper or lower case letters regardless of how you originally created it. For example if your password is <strong class="bold">H3LloWorlD</strong> you could enter <strong class="bold">H3LLOWORLD</strong> or <strong class="bold">h3lloworld</strong> or <strong class="bold">H3lloWorld</strong>.</p>
                                </div>
                            </details>
                            <div class="form-group">
                                <button class="button pure-u-md-1-6" type="submit">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="FooterContainer">
            <div class="footer-content">
                <div class="FooterLinksContainer">
                    <div class="FooterLink"><a href="/terms">Terms and conditions</a></div>
                    <div class="FooterLink"><a href="mailto:<%= mailTo %>">Contact us: <%= mailTo %></a></div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
